div.container{
    width: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  border-radius: 5%;
  opacity: 0.9;
}


.image{
    
    border-top-left-radius: 5%;
    width: 700rem;
    margin-right: 2rem;
    max-width: 1200px ;
   
    
}

body {
    background-image: url("https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/c/5/ac5586f606_50173996_transformation-numerique1.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
   /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  }